*{
    padding: 0;
    margin: 0;
}
.menu{
    display: flex;
    width: 300px;
    list-style: none;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: deepskyblue;
    margin-left: 500px;
    

}

.div-top{
    height: 200px;
}

.submenu{
    display: none;
    position: absolute;
    list-style: none;
    top: -1;
    width: 130px;

    border-color: deepskyblue;
    border-style: solid;
    color: black;
    
}

a{
    text-decoration: none;
    color: black;
}


.title:hover .submenu{

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.title{
    position: relative;
}
.title:hover{
    color: deepskyblue;
}

.element{

}